 <h3>Recent Acitivity</h3>

        <hr>


        {% for messages in room_messages %}
            <div>
              <small><a href="{% url 'user-profile' messages.user.id %}">@{{messages.user}}</a> {{messages.created|timesince}} ago</small>
              <small>replied to "{{messages.room}}"</small>

              <p>commented: {{messages.body}}</p>

                 
            {% if request.user == messages.user %}
              <a href="{% url 'delete-message' messages.id %}">Delete</a>
            {% endif %}  

            <hr>
            </div>
        {% endfor %}