<!--
  DNS - codewithzacky.rf.gd
  lastUpdate: @2021
-->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <link rel="icon" href="%PUBLIC_URL%/../images/dev.jpg" />
  <meta
      name="codewithzackytech"
      content="NoQo Coder Wad NoQon Kartaye"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/../images/dev.jpg" />
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>New Room</title>

  <!-- Assets Files -->
  <link rel="stylesheet" href="{% static 'styles/res/semantic@2.4.2.css' %}">
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <link rel="stylesheet" href="{% static 'styles/style2.css' %}">
  <script src="{% static 'styles/res/jquery@3.4.1.js' %}"></script>
  <script src="{% static 'styles/res/semantic@2.4.2.js' %}"></script>
  <script src="{% static 'styles/index.js' %}"></script>
    <script src="{% static 'styles/script.js' %}"></script>
</head>

<body style="background-color: rgb(253, 253, 253);;">
 <!-- Menu Bar -->
 






 <div class="ui large fixed menu" style="background-color:none">
  
  <div class="right menu" style="align-items: center;width: 100%;">
    
    
    <div style="margin-left: 1rem;flex-direction: row;align-items: center;display: flex;justify-content: center;">
      <span style="margin-left: 20px;">  <i class="home icon" style="font-size: 23px;color:dodgerblue"></i></span><a  href="{% url 'home' %}"  style="color:dodgerblue;margin-left: 0px;font-size: 120%;font-weight: bold;padding-top: 1.10%;">Home</a>
      
      <span style="margin-left: 20px;;">  <i class="settings icon" style="font-size: 20px;color:rgb(99, 98, 98);"></i></span><a  href="{% url 'user-profile' request.user.id %}" style="color: rgb(99, 99, 99);font-size: 120%;font-weight: 700;padding-top: 1.10%;">Acount</a>
      
      
      <span style="margin-left: 20px;;">  <i class="user icon" style="font-size: 20px;color:rgb(99, 99, 99);"></i></span><a  href="{% url 'create-room' %}" style="color: rgb(99, 99, 99);font-size: 120%;font-weight: 700;padding-top: 1.20%;">Post</a>
      
    </div>
    
    
    <a href="{% url 'home' %}"  style="margin-left: 55%;">
          <div >
            <img src="{% static  'SystemImage/drypoxNewWhite2.png' %}" style="width: 100px;height: 30px;border-top-right-radius: 00px;border-bottom-right-radius: 0px;" />
          </div>
 
        </a>
    


  </div>


  <div class="ui container" >
    
  


    </div>
    
    
    

    
    
    
    <div style="flex-direction: row;justify-content: space-between;align-items: center;display: flex;margin-right: 50px;">
      
   
   
     
     
          
    

      </div>

      
      
  {% if request.user.is_authenticated %}
               <div class="item" >
          <a class="ui primary button" style="background-color: dodgerblue;border-radius:   0px;border-radius: 2rem;height: 3.30rem;align-items: center;display: flex;width: 10rem;justify-content: center;font-weight: bold;" href="{% url 'logout' %}">LogOut</a>
         </div>
  
  {% else %}
    <div class="item"  style="justify-content: center;align-items: center;display: flex;flex-direction: row;">
          <span></span><a class="ui primary button"  style="background-color: rgb(255, 255, 255);border-radius:   0px;color: #000;" href="{% url 'login' %}">Sign in</a>
         </div>
  
             <div class="item" >
          <a class="ui primary button" style="background-color: dodgerblue;border-radius:   0px;border-radius: 2rem;height: 3.30rem;align-items: center;display: flex;width: 10rem;justify-content: center;font-weight: bold;" href="{% url 'register' %}">Sign Up</a>
         </div>
  {% endif %}

      {% if request.user.is_authenticated %}

       <a href="{% url 'user-profile' request.user.id %}" style="font-weight: bold;color: rgb(139, 136, 136);">
      <div style="flex-direction: row;align-items: center;display: flex;padding-right: 2%;padding-left: 1%;">
              
      


           <a href="{% url 'user-profile' request.user.id %}">
              <div class="avatar avatar--medium active">
                <img src="{{request.user.avator.url}}" />
              </div>
     
            </a>


        <div>
        
           
          </div>
        </div>
        </a>
        {% endif %} 
      </div>



 
 

  

  <!-- Navigation Panel -->
 <div class="ui vertical inverted sidebar menu" style="background-color:rgb(0, 0, 0); width: 80vmin;">


    <div style="margin-top: 30px;padding-left: 10px;">
      

  
      <p style="color: rgb(255, 255, 255);font-size: 30px;font-weight: bold;">Support</p>
 
     <p style="color: rgb(255, 255, 255);font-size: 30px;font-weight: bold;">Download</p>
    
            <p style="color: rgb(255, 255, 255);font-size: 30px;font-weight: bold;">About</p>
       <p style="color: rgb(255, 255, 255);">_____</p>


              <a href=""><p style="color: rgb(255, 255, 255);font-size: 20px;font-weight: bold;">Sign Up</p></a>
   
  <a href=""> <p style="color: rgb(255, 255, 255);font-size: 20px;font-weight: bold;"  >Log in</p> </a>


 

    <div style="margin-top: 140px;">
       

        <img src="{% static 'images/user2.png' %}"  class="ui small image"/>



     </div>



  
    </div>
  </div>




  
  <!-- Desktop Mode -->
  <div class="pusher" style="background-color: rgb(253, 253, 253);" >
    
















 



   
     <div   style="background-color: rgb(255, 255, 255);border-radius: 0px;margin-top: 0px;" class="ui large top  menu">
        <div class="ui large secondary inverted pointing menu" style="border-radius: 0px;justify-content: space-between;align-items: center;display: flex;border: solid 0px rgb(255, 255, 255);flex-direction: row;">
         



          <div>
       
          <div style="flex-direction: row;display: flex;align-items: center;justify-content: center;">
             <a class="toc item" href="{% url 'home' %}">
            <i class="left angle icon" style="font-size: 25px;color:rgb(0, 0, 0);"></i>
          </a>
       
            <img src="{% static  'SystemImage/drypoxNewWhite2.png' %}" style="width: 100px;height: 30px;border-top-right-radius: 00px;border-bottom-right-radius: 0px;" />
          </div>
 
     
    
    
          </div>
    
    
    
          <div style="margin-left: 55%">
       
             {% if request.user.is_authenticated %}


      <div style="flex-direction: row;align-items: center;display: flex;margin-top: 0px;">
              
      


           <a href="{% url 'user-profile' request.user.id %}">
              <div class="avatar avatar--medium active">
                <img src="{{request.user.avator.url}}" />
              </div>
     
            </a>


        <div>
        
           
          </div>
        </div>
       
        {% endif %} 



      </div>
      <div style="margin-top: 0px;" class="toc item">
        
         
    <div >
       
<!--
        <img src="{% static 'images/mobileIcon.png' %}"  class="ui small image"/>

-->

     </div>




     
      </div>



      

        

          
        </div>
      </div>











  








 


















  
  


    








  


    <div>

      
      {% include 'base/create_room_data.html' %}
      <!-- cut here -->
        

    </div>


     
  </div>



</body>

<script>
  function CommingSoon (){
    alert('This Functionality is Under development')
  }function CommingSoon2 (){
    alert('Wanka xumahay Hada Maheli kartid Fadlan Iska Sug Malmo')
  }
</script>
   <script src="script.js"></script>
</html>
